<table>
    <tr valign="top">
        <td>{{ puzzle.author.username }}</td>
        <td><img src="{{ puzzle.author.create_avatar(80)}}"></td>
        
        
    </tr>
    <p>
        <b>{{puzzle.title}}</b>
        <p><img src="{{puzzle.image_url}}"></p>
        <p>{{puzzle.pieces}}</p>
        <p>{{puzzle.categories}}</p>
        <p>{{puzzle.manufacturer}}</p>
        <p>{{puzzle.description}}</p>
    </p>
    <button><a href="{{ url_for('send_message', recipient=puzzle.author.username, puzzle_id=puzzle.id) }}">Request</a></button>
</table>