<script>
    function requestPuzzle(userId, puzzleId) {
        console.log(userId, puzzleId)
        window.location.href= `/messages?recipient_id=${userId}&puzzle_id=${puzzleId}`
    }
</script>
<style>
    .btn-request {
        background-color: #2BB0BF;
    }

    .info-puzzle {
        color: #c0392b;
    }

    .card-img-top {
        max-width: 300px;
        align-self: center;
    }
</style>
<div class="container">
    
        
              <!--Card-->
              <div class="card overflow-hidden text-center">
                <img src="{{puzzle.image_url}}" class="card-img-top img-fluid" alt="puzzle-image">
        
                <!--Card body-->
                <div class="card-body p-0 puzzle-timestamp">
                  <!--avatar-->
                  <a href="#!.html" class="avatar xl rounded-circle bg-gray bg-opacity-10 p-1 position-relative mt-n5 d-block mx-auto">
                    <img src="{{current_user.create_avatar(64)}}" class="avatar-img img-fluid rounded-circle" alt="avatar">
                  </a>
                  <h5 class="mb-0 pt-3">
                    <a href="#!.html" class="text-reset">{{puzzle.author.username}}</a>
                  </h5>
                  <span class="timestamp text-muted small d-block mb-4" data-utc-date="{{ puzzle.timestamp.isoformat() }}"></span>
                  {% if puzzle.user_id != current_user.id %}
                      <div class="card-footer">
                        <a href="/messages?recipient_id={{puzzle.author.id}}&puzzle_id={{puzzle.id}}" class="btn btn-md btn-request">Request</a>
                      </div>
                      {% endif %}
                  <div class="row mx-0 border-top border-bottom">
                    <div class="col-6 text-center border-end py-3">
                      <h5 class="mb-0">{{puzzle.title}}</h5>
                      <small class="text-muted">{{puzzle.pieces}} pieces</small>
                    </div>
                    <div class="col-6 text-center py-3">
                      <h5 class="mb-0">{{puzzle.manufacturer}}</h5>
                      <small class="text-muted"> Manufacturer</small>
                      <i class="fa-solid fa-circle-info fa-lg mb-1 info-puzzle" id="puzzleInfoLink" role="button" aria-expanded="false" data-bs-toggle="dropdown"></i>
                      
                        <ul class="dropdown-menu" aria-labelledby="puzzleInfoLink">
                            
                            <li class="dropdown-item px-3 d-flex align-items-center justify-content-between">
                                <span class="text-muted small"><b>Categories:</b> {% for category in puzzle.categories %}{{category.name}} {% if not loop.last %},{% endif %} {% endfor %}</span>  
                            </li>
                            <li class="dropdown-item px-3 d-flex align-items-center justify-content-between">
                                <span class="text-muted small"><b>Condition:</b> {{puzzle.condition}}</span>  
                            </li>
                            {% if puzzle.description %}
                            <li class="dropdown-item px-3 d-flex align-items-center justify-content-between">
                                <span class="text-muted small"><b>Description:</b>{{puzzle.description}}</span>  
                            </li>
                            {% endif %}
                            
                         
                    
                        </ul>
                      
                    </div>
                  </div>
                   
                  </ul>
                </div>
            
          

                            
               
<div class="col">
    <div class="card h-100 puzzle-timestamp {% if puzzle.author.username == current_user.username %} border-warning mb-3 {% else %} border-info mb-3 {% endif %}" style="max-width: 35rem;">
        <p class="timestamp" data-utc-date="{{ puzzle.timestamp.isoformat() }}"></p>
        <img src="{{puzzle.image_url}}" class="card-img-top img-thumbnail" style="width: 200px" alt="puzzle-picture">
        <div class="card-body">
            <h5 class="card-title">{{puzzle.title}}</h5>
            <p class="card-text"><b>Manufacturer:</b> {{puzzle.manufacturer}} </p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><b>Pieces:</b> {{puzzle.pieces}}</li>
            
            
            <li class="list-group-item"><b>Category:</b> {% for category in puzzle.categories %}{{category.name}} {% if not loop.last %},{% endif %} {% endfor %}</li>
            
            <li class="list-group-item"><b>Details:</b> {% if puzzle.description %} {{puzzle.description}} {% else %} Nothing yet...</li>
            {% endif %}
            
        </ul>
        
        <div class="card-body">
            
            <img src="{{ puzzle.author.create_avatar(128)}}" class=card-img style="max-width:40px" alt="user-avatar">
            <p class="card-text-center mb-3">{{ puzzle.author.username }}</p>
        </div>
        {% if puzzle.user_id != current_user.id %}
        <div class="card-footer">
            
            <a class="btn btn-info" href="/messages?recipient_id={{puzzle.author.id}}&puzzle_id={{puzzle.id}}">Request</a>
            
        </div>
        {% endif %}
        
    </div>
</div>


