{% extends 'base.html' %}

{% block content%}
<head>
    <title>Confirm Delete</title>
</head>
<body>
    <h1>Confirm Delete</h1>
    <p>Are you sure you want to delete?</p>
    
    {% if delete_type == 'puzzle'%}
        <form action="{{url_for('delete_puzzle', puzzle_id=item.id)}}" method="POST">
            <button type="submit">Confirm Delete</button>
        </form>
    {% elif delete_type == 'message'%}
        <form action="{{url_for('delete_message', message_id=item.id)}}" method="POST">
            <button type="submit">Confirm Delete</button>
        </form>
    {% endif %}    
        
        <button><a href="{{ url_for('user', username=current_user.username) }}">Cancel</a></button>
    
</body>

{% endblock %}
