{% extends "base.html" %}

{% block content %}
<form action="{{ url_for('save_puzzle', puzzle_id=form.puzzle_id.data ) }}" enctype="multipart/form-data" method="post">
{{ form.hidden_tag() }}

{% if form.puzzle_id is not none %}
    <h1>Edit Puzzle</h1>
{%else%}
    <h1>Add Puzzle</h1>
{% endif %}   
    <p>
        {{ form.title.label }} <br>
        {{ form.title(size=32) }} <br>
        {% for error in form.title.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.image.label }} <br>
        {{ form.image(type='file') }} <br>
        {% for error in form.image.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {% if form.existing_image_url %}
        <img src="{{ existing_image_url }}" style="max-width:200px;"> <br>
        <input type="hidden" name="existing_image_url" value="{{existing_image_url}}">
        {% else %}
        <p></p>
        {% endif %}
        {% for error in form.image.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.pieces.label }} <br>
        {{ form.pieces(size=32) }} <br>
        {% for error in form.pieces.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{form.condition.label}}  
        {% for (condition, _) in choices %}
         
            <input type="radio" name="condition" value="{{ condition }}"{% if form.condition.data == condition %}checked{% endif %}>
            {{ condition }}
        </input>
       
         </p>
       
         {% endfor %}
       
     </p>
    <p>
        {{ form.manufacturer.label }} <br>
        {{ form.manufacturer(size=32) }} <br>
        {% for error in form.manufacturer.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    
    <p>
        <label for="categories">Categories:</label>
        <select multiple id="categories" name="categories">
        {% for option in form.categories.choices %}
        {% if not form.categories.data %}
        <option value="{{ option[0] }}">{{ option[1] }}</option>
        {%else%}
        <option value="{{ option[0] }}" {% if option[0] in form.categories.data %}selected{% endif %}>{{ option[1] }}</option>
        {% endif %}
        {% endfor %}
        </select>
    </p>  
    <p>
        {{ form.description.label }} <br>
        {{ form.description(size=32) }} <br>
        {% for error in form.description.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>{{ form.submit() }}</p>
</form>
{% endblock %}