<!doctype html>
<html>
    <head>
        {% if title %}
        <title>{{title}} - PuzzlePost v2</title>
        {% else %}
        <title>Welcome to PuzzlePost v2!</title>
        {% endif %}
    </head>
    <body>
        {% extends "base.html" %}
        
        {% block content %}
        <h1>Hello, {{ current_user.username }}!!</h1>
        {% for puzzle in puzzles %}
        <tr valign="top">
            
            <td><h1>User: {{ puzzle.user.username }}</h1></td>
        </tr>
        <div>
        <br>
        {{puzzle.pieces}}, {{puzzle.title}}
        </div>
        {% endfor %}
        {% endblock %}
    </body>
</html>