<!doctype html>
<style>
   .pagination .page-link {
        color: #5eb1bf;
    }

   .pagination .page-item.active .page-link {
        background-color: #ab5147;
        border-color: #ab5147;
   }
</style>
<html>
    <head>
        {% if title %}
        <title>{{title}} - PuzzlePost v2</title>
        {% else %}
        <title>Welcome to PuzzlePost v2!</title>
        {% endif %}
    </head>
    <body>
        {% extends "base.html" %}
        
        {% block content %}
        <h1>Greetings, {{ current_user.username }}!</h1>
        
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for puzzle in puzzles_pagination.items %}
            <div class="puzzle-item" id="puzzle-{{puzzle.id}}" style="min-width: 18rem;">
            {% include '_puzzle.html' %}
            </div>
        {% endfor %}
        </div>

        <nav aria-label="page-navigation">
            <ul class="pagination justify-content-center mt-3">
                {% if puzzles_pagination.has_prev%}
                <li class="page-item">
                    <a class="page-link" href="{{ url_for('index', page=puzzles_pagination.prev_num, query=query) }}">Previous</a>
                </li>
                {%else%}
                <li class="page-item disabled">
                    <span class="page-link">Previous</span>
                </li>
                {%endif%}

                {% for page_num in puzzles_pagination.iter_pages() %}
                {% if page_num %}
                    {% if page_num == puzzles_pagination.page %}
                        <li class="page-item active">
                            <span class="page-link">{{ page_num }}</span>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href="{{ url_for('index', page=page_num, query=query) }}">{{ page_num }}</a>
                        </li>
                    {% endif %}
                {% else %}
                    <li class="page-item disabled">
                        <span class="page-link">...</span>
                    </li>
                {% endif %}
            {% endfor %}

            {% if puzzles_pagination.has_next %}
            <li class="page-item">
                <a class="page-link" href="{{ url_for('index', page=puzzles_pagination.next_num, query=query) }}">Next</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <span class="page-link">Next</span>
            </li>
            {% endif %}

            </ul>
        </nav>
        
        {% endblock %}
    </body>
</html>