{% extends "base.html" %}

{% block content %}

<h1>Sign In</h1>
<form action="{{ url_for('login') }}" method="POST" novalidate>
    {{ form.hidden_tag() }}
    <div class="mb-3">
        <label for="username" class="form-label">{{ form.username.label }}</label>
        {{ form.username(class="form-control", size=32) }}
        
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">{{ form.password.label }}</label>
        {{ form.password(class="form-control", size=32) }}
        
    </div>
    <div class="mb-3 form-check">
        {{ form.remember_me(class="form-check-input", id="remember_me") }}
        <label class="form-check-label" for="remember_me">{{ form.remember_me.label }}</label>
    </div>
    <button type="submit" class="btn btn-primary">{{ form.submit.label.text }}</button>
</form>  
<p>New User? <a class="btn btn-info" href="{{ url_for('register') }}">Register</a></p>
{% endblock %}

