{% extends 'base.html' %}

 {% block content %}
 <style>
  .confirm-delete-btn {
    padding: .5rem;
    background-color: #c0392b
    
  }

  .btn-cancel {
    background-color: #cdedf6 ;
  }
  .send-button {
    background-color: #cdedf6;
  }

  .approve-btn {
    padding: 0;
    color: #2BB0BF;
  }

  .decline-btn {
    padding: 0;
    color: #c0392b;
  }

  .btn-cancel-note {
    background-color: #c0392b;
  }

  .content-sender-card-body {
    background-color: #cdedf6;
  }

  .content-recipient-card-body {
    background-color: hsl(6, 75%, 72%);
  }


  
 </style>
<h1 class="text-center">
    Messaging    
</h1>
<!-- personal note modal -->
<div class="modal fade" id="personalNoteModal" tabindex="-1" aria-labelledby="personalNoteLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="personalNoteLabel">Personal Note</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="{{ url_for('request_action') }}" method="POST">
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Recipient:</label>
            <input type="text" class="form-control" id="recipientName" name="recipient_name" readonly>
          </div>
          <div class="mb-3">
            <label for="personalNote" class="col-form-label">Message:</label>
            <textarea class="form-control" id="personalNote" name="personal_note"></textarea>
          </div>
          <input type="hidden" id="actionType" name="action">
          <input type="hidden" id="requester" name="requester">
          <input type="hidden" id="puzzleId" name="puzzle_id">
          <button type="submit" class="btn send-button" >Send</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-cancel-note" data-bs-dismiss="modal">Close</button>
        
        
      </div>
    </div>
  </div>
</div>

<!-- Confirm Delete Modal -->
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="confirmDeleteModalLabel">Confirm</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body modal-body-delete">
        
      </div>
      <form id="deleteForm" method="POST">
          
          <input type="hidden" id="messageId" name="message_id">
          <input type="hidden" id="recipientId" name="recipient_id">
          <input type="hidden" id="puzzleIdDelete" name="puzzle_id_delete">
          <div class="d-flex justify-content-center">
          <button type="submit" class="btn confirm-delete-btn btn-danger">Confirm Delete</button>
          </div>
      </form>
      <div class="modal-footer">
        
        <button type="button" class="btn btn-cancel" data-bs-dismiss="modal">Close</button>
       
      </div>
    </div>
  </div>
</div>

<!-- show members with conversation -->
<section >
      
    <div class="container py-5 ">
     
      <div class="row d-flex">
  
        <div class="col-md-6 col-lg-5 col-xl-4 mb-4 mb-md-0 center-column ">
          
          <h4 class="font-weight-bold mb-3 text-center text-lg-center">Member</h4>
          <h6 class="mb-3 text-center text-lg-start">Select a member and puzzle to view conversation</h6>
          
          <div class="card">
            
            <div class="card-body">
              
              <ul class="list-unstyled mb-0">
                {% if message_senders %}
                    {% for message_sender in message_senders %}
                   
                        {% set sender = message_sender.sender %}
                        {% set unread_count = message_sender.unread_count %}
                        {% set puzzles = message_sender.puzzles %}
                      
                        {% if not sender.id == current_user.id%}
                        
                <li class="p-2 border-bottom bg-body-tertiary">
         
                    <div class="d-flex flex-row">
                       
                      <img src="{{ sender.create_avatar(128) }}" alt="avatar"
                        class="rounded-circle d-flex align-self-center me-3 shadow-1-strong" width="60">
                      <div class="pt-1 dropdown">
                        <a
                          class="dropdown-toggle d-flex align-items-center"
                          href="#"
                          id="puzzleDropdownMenuLink"
                          role="button"
                          data-bs-toggle="dropdown"
                          aria-expanded="false"
                        >
                        <p class="fw-bold mb-0">{{ sender.username }}</p>
                      </a>
                      
                      <ul class="dropdown-menu" aria-labelledby="puzzleDropdownMenuLink">
                        {% for puzzle in puzzles %}
                        {% if puzzle %}
                      <li>
                  
                       <a class="dropdown-item" href="/messages?recipient_id={{sender.id}}&puzzle_id={{puzzle.id}}" class="d-flex justify-content-between">
                    
                       </li>
                      <div class="d-flex flex-row">
                          <p class="fw-bold mb-0">{{ puzzle.title }}</p>
                          <span><a class="btn delete-thread-btn" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal" data-recipient-id="{{sender.id}}" data-puzzle-id-delete="{{ puzzle.id }}"><i class="fa-solid fa-trash-can fa-sm p-1"></i></a></span>
                      </div>
                    </a>
                   
                    {% endif%}
                    {% endfor %}
                      </ul>
                        
                        {% if unread_count > 0 %}
                        <span class="badge bg-danger" id="unread-count-badge-{{sender.id}}">{{ unread_count }}</span>
                        {% endif %}
                        
                      </div>
                     
                    </div>
              
                  
                </li>
                    {% endif %}
                {% endfor %}
            {% else %}
                <p>You have no messages yet.</p>
            {% endif %}
                

              </ul>
  
            </div>
          </div>
  
        </div>
        <!-- end col -->
    
       
        <div class="col-md-6 col-lg-7 col-xl-8">
          <div data-bs-perfect-scrollbar-init style="position: relative; height: 400px; overflow: auto;">
            <ul class="list-unstyled">
              
              {% if recipient and puzzle_id%}
                {% if conversation %}
                    {% for message in conversation%}
                        {% if message.author.username != current_user.username%}
              <li class="d-flex justify-content-between mb-4">
                <div class="card w-100 {% if not message.is_read and message.recipient_owner_id == current_user.id%}unread{%endif%}" data-message-id="{{message.id}}" data-sender-id="{{message.author.id}}">
                  <div class="card-header d-flex justify-content-between p-3">
                    <p class="fw-bold mb-0">{{message.author.username}}</p>
                    <p class="small text-muted">{{message.puzzle.title}}</p>
                    <p class="text-muted small mb-0 timestamp" data-utc-date="{{message.timestamp.isoformat()}}"></p>
                    
                    <div class="pt-1">
                        <!-- <p class="small text-muted mb-1">Just now</p> -->
                      {% if not message.is_read and message.recipient_owner_id == current_user.id%}
                      <span class="unread-indicator badge bg-danger float-end"><i class="fa-solid fa-glasses"></i></span>
                      {%endif%}
                    </div>
                  </div>
                  <div class="card-body content-sender-card-body">
                    {{message.id}}
                    <p class="mb-0">
                      {{message.content}}
                    </p>
                    
                    <div class="d-flex justify-content-between align-items-center">
                      {% if message.id == last_message_ids[message.puzzle_id] and current_user.id == message.puzzle.user_id and message.puzzle.is_requested and not message.puzzle.in_progress %}
                      <div class="d-flex">
                      <a class="btn approve-btn d-flex align-items-center me-2" data-bs-toggle="modal" data-bs-target="#personalNoteModal" data-action="approve" data-requester="{% if message.author.username == current_user.username %}{{message.recipient.username}}{% else %}{{message.author.username}}{%endif%}" data-puzzle-id="{{ message.puzzle.id }}" >
                        <i class="fa-regular fa-face-smile"></i> Approve</a>
                      
                      <a class="btn decline-btn d-flex align-items-center me-2" data-bs-toggle="modal" data-bs-target="#personalNoteModal" data-action="decline" data-requester="{% if message.author.username == current_user.username %}{{message.recipient.username}}{% else %}{{message.author.username}}{%endif%}" data-puzzle-id="{{ message.puzzle.id }}" >
                        <i class="fa-regular fa-face-sad-cry"></i> Decline</a>
                      </div> 
                      {% endif %}
                      <div>
                      <a class="btn delete-btn d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal" data-message-id={{message.id}}>
                        <i class="fa-solid fa-trash-can fa-lg mb-1"></i>
                      </a>
                    </div>
                    </div>
                  </div>
                </div>
                <img src="{{ message.author.create_avatar(128) }}" alt="avatar"
                  class="rounded-circle d-flex align-self-start ms-3 shadow-1-strong" width="60">
              </li>
              
              {% else %}
              <li class="d-flex justify-content-start mb-4">
                <img src="{{ message.author.create_avatar(128) }}" alt="avatar"
                  class="rounded-circle d-flex align-self-center me-3 shadow-1-strong" width="60">
                <div class="card flex-grow-1 {% if not message.is_read and message.recipient_owner_id == current_user.id%}unread{%endif%}" data-message-id="{{message.id}}" data-sender-id="{{message.author.id}}">
                  <div class="card-header d-flex justify-content-between flex-grow-1 p-3">
                    <p class="fw-bold mb-0">{{message.author.username}}</p>
                    <p class="small text-muted">{{message.puzzle.title}}</p>
                    <p class="text-muted small mb-0 timestamp" data-utc-date="{{message.timestamp.isoformat()}}">{{message.timestamp}}</p>
                    
                    <div class="pt-1">
                      <!-- <p class="small text-muted mb-1">Just now</p> -->
                      {% if not message.is_read and message.recipient_owner_id == current_user.id%}
                      <span class="unread-indicator badge bg-danger float-end"><i class="fa-solid fa-glasses"></i></span>
                      {%endif%}
                    </div>
                  </div>
                  <div class="card-body content-recipient-card-body">
                    {{message.id}}
                    <p class="mb-0">
                      {{message.content}}
                    </p>
                    
                    <div class="d-flex justify-content-between align-items-center">
                      {%if message.id == last_message_ids[message.puzzle_id] and current_user.id == message.puzzle.user_id and message.puzzle.is_requested %}
                      <div class="d-flex">
                      <a class="btn approve-btn d-flex align-items-center me-2" data-bs-toggle="modal" data-bs-target="#personalNoteModal" data-action="approve" data-requester="{% if message.author.username == current_user.username %}{{message.recipient.username}}{% else %}{{message.author.username}}{%endif%}" data-puzzle-id="{{ message.puzzle.id }}" >
                        <i class="fa-regular fa-face-smile"></i> Approve</a>
                      
                      <a class="btn decline-btn d-flex align-items-center me-2" data-bs-toggle="modal" data-bs-target="#personalNoteModal" data-action="decline" data-requester="{% if message.author.username == current_user.username %}{{message.recipient.username}}{% else %}{{message.author.username}}{%endif%}" data-puzzle-id="{{ message.puzzle.id }}" >
                        <i class="fa-regular fa-face-sad-cry"></i> Decline</a>
                      </div> 
                      {% endif %}
                      <div>
                      <a class="btn delete-btn d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal" data-message-id={{message.id}}>
                        <i class="fa-solid fa-trash-can fa-lg mb-1"></i>
                      </a>
                    </div>
                    </div>
                   
                </div>
                </div>
              </li>
            
     
              {% endif %}
            {% endfor %}
          </ul>
          {% endif %}
          </div>
            
             {% if is_puzzle_requested or is_puzzle_in_progress %}
              <div data-bs-input-init class="form-outline">
                  <form action="{{ url_for('send_message')}}" enctype="multipart/form-data" method="POST">
                      <textarea class="form-control bg-body-tertiary" name="content" id="content" rows="4" placeholder="Send message to {{recipient.username}}"></textarea>
                      <input type="hidden" name="puzzle_id" value="{{puzzle_id}}">
                      <input type="hidden" name="recipient_id" value="{{ recipient.id }}">
                      <label class="form-label" for="content"></label>
                      <button  type="submit" data-bs-button-init data-bs-ripple-init class="btn send-button btn-rounded float-end">Send</button>
                  </form>
                      
              </div>
              {% endif %}
              
           
          
          
          
            
            
          
          
          
        
          {% endif %}
   
            
        
            
           
          </div>
        
        
        </div>
     
      
    </div>
  </div>
        
     
  </section>

  
  

<script>

    // wait for page to load, get all the elements that have 'data-message-id' attribute
    document.addEventListener('DOMContentLoaded', function() {
        const messageElements = document.querySelectorAll('div[data-message-id]');
        const personalNoteModal = document.getElementById('personalNoteModal');
        const confirmDeleteModal = document.getElementById('confirmDeleteModal');
        const modalBody = document.querySelector('.modal-body-delete')
        
        

        messageElements.forEach(function(messageElement) {
       // how to prevent user from sending fetch request every time they click the the message issue
       // if the message already contains the class 'unread' from the boolean logic in the messages.html
       //    add event listener to each message that has 'unread' class
            
        if (messageElement.classList.contains('unread')) {
            messageElement.addEventListener('click', handleRead);
        }
        
    });
        
        // function to hide unread indicator upon user clicking message 
        function handleRead(event) {
          console.log('success clicked')
            // target is the messageElement
        const messageElement = event.currentTarget;
        const messageId = messageElement.getAttribute('data-message-id');
        const senderId = messageElement.getAttribute('data-sender-id');
        fetch('/message/read/' + messageId, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            },
            // empty body for POST request
            body: JSON.stringify({})
        
    }).then(function(response) {
            // returns promise that will be result of response as JSON
            // response is built-in object that represents HTTP response from server as JS object
            // allows you to access the response data, headers, status...
            return response.json();
    }).then(function(data){
        
        // this function will use the JSON object from the response...
        // from the view function in routes file, if the server has marked the message as read if will be status success
        // otherwise, status will be failure 
        if (data.status === 'success') {
            console.log('data status come back success')
            const unreadCountsBySender = data.unread_counts
            console.log('unread counts by sender:', unreadCountsBySender)
            
            // unread indicator on individual message 
            const unreadIndicator = messageElement.querySelector('.unread-indicator');
            // badge by username of number of unread message(s)
            const unreadCountBadge = document.getElementById(`unread-count-badge-${senderId}`)
            // need to check if unread indicator element is present first
            // otherwise if it's already been read will cause runtime error (cannot read property 'style' of null because there will be no unread indicator)
            if (unreadIndicator && unreadCountBadge) {
                unreadIndicator.style.display = 'none'
                // loop through the keys in the dictionary
                for (const sender_id in unreadCountsBySender) {
                  
                      const unread_count = unreadCountsBySender[sender_id]
                      if (unread_count) {
                        unreadCountBadge.textContent = unread_count
                      }
                      
                  }
                
                
                if (data.unread_count == 0) {
                    unreadCountBadge.style.display = 'none'
                    console.log('0 no show')
                }
                
            } else {
              
                console.log("error!!!!!")
            }
          
            // remove unread from the div class
            messageElement.classList.remove('unread');
            // from base.html JS that handles the visibility of the unread count next to messages in nav bar
            // will handle the unread message count - pass in the updated count from the data in the response
            set_message_count(data.unread_count);
            
            } 
            // prevent user from clicking message again and sending fetch requests each time
            messageElement.removeEventListener('click', handleRead);

        }).catch(function(error) {
            console.error('Error:', error);
        })
      
      
    
    }     
    
// data attributes for personal note modal
// get the attributes by listening to when user clicks the approve or decline button
    if (personalNoteModal) {
      personalNoteModal.addEventListener('show.bs.modal', function(event) {
        // button that triggers modal
        const button = event.relatedTarget
        // get the data attributes
        const action = button.getAttribute('data-action')
        console.log(action)
        const requester = button.getAttribute('data-requester')
        console.log(requester)
        const puzzleId = button.getAttribute('data-puzzle-id')
        console.log(puzzleId)
        const recipientName = button.getAttribute('data-recipient-name')

      // assign the value to the hidden inputs in the modal whatever the values are from the attributes above
      document.getElementById('actionType').value = action
      document.getElementById('requester').value = requester
      document.getElementById('puzzleId').value = puzzleId
      document.getElementById('recipientName').value = requester
      })
    
   
    }

    if (confirmDeleteModal) {
      confirmDeleteModal.addEventListener('show.bs.modal', function(event) {
        // button that triggers modal
        const button = event.relatedTarget
        // get the data attributes
        const messageId = button.getAttribute('data-message-id')
        console.log('messageId', messageId)
        const recipientId = button.getAttribute('data-recipient-id')
        console.log('recipientId', recipientId)
        const puzzleIdDelete = button.getAttribute('data-puzzle-id-delete')
        console.log('puzzleIdDelete', puzzleIdDelete)

        const deleteForm = document.getElementById('deleteForm')

        if (recipientId && puzzleId) {
          deleteForm.action = "{{ url_for('delete_message_thread') }}"
          modalBody.innerText = "Are you sure you want to delete this message thread?"
          document.getElementById('recipientId').value = recipientId
          document.getElementById('puzzleIdDelete').value = puzzleIdDelete
        } else if (messageId) {
          deleteForm.action = "{{ url_for('delete_message') }}"
          modalBody.innerText = "Are you sure you want to delete this message?"
          document.getElementById('messageId').value = messageId
        }

      })
    }
        
});
</script>
    
           
{% endblock %}         

  
 

    
    
    
    
    