{% extends 'base.html' %}

{% block content %}
    <h1>
        Your Messages, {{recipient.username}}
    </h1>
    {% for message in message_list %}
    <p>From:{{message.author.username}}</p>
    <p>To: {{message.recipient.username}}</p>
    <p>{{message.timestamp}}</p>
    <p>Puzzle Requested: {{message.puzzle.title}}</p>
    <img src="{{message.puzzle.image_url}}" style="max-width: 200px;">
    <p>{{message.content}}</p>
    {% if loop.index0 == 0  %}
    <button><a href="{{ url_for('send_message', recipient=message.author.username, puzzle_id=message.puzzle.id) }}">Reply</a></button>
    {%if current_user.id == recipient.id and current_user.id != message.puzzle.user_id%}
    <button><a href="{{ url_for('request_action', action='approve', requester=message.author.username, puzzle_id=message.puzzle.id) }}">Approve</a></button>
    <button><a href="{{ url_for('request_action', action='decline', requester=message.author.username, puzzle_id=message.puzzle.id) }}">Decline</a></button>
    
    {% endif %}
    {% endif %}
    {% endfor %}
{% endblock %}