{% extends 'base.html' %}

{% block content %}
<h1>
    Your Messages, {{recipient.username}}
</h1>

<div>
    <div>
        <h2>Message Senders</h2>
        <ul>
            {% for sender in message_senders %}
            <img src="{{ sender.create_avatar(128) }}" style="width: 50px;">
            <li><a href="{{ url_for('messages', user_id=sender.id) }}">{{ sender.username }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div>
        {% if selected_user %}
            <h2> Messages with {{selected_user.username}}</h2>
            {% for message in messages%}
            <div class="{% if not message.is_read and message.recipient_owner_id == current_user.id%}unread{%endif%}" data-message-id="{{message.id}}"  >
                <p>From: {{message.author.username}}</p>
                <p>To: {{message.recipient.username}}</p>
                <p>Subject: {{message.puzzle.title}}</p>
                {% if message.puzzle.is_requested %}
                <p>Request Status: Pending</p>
                {% elif message.puzzle.in_progress%}
                <p>Request Status: Approved</p>
                {% endif %}
                <p>{{message.timestamp}}</p>
                <p >{{message.content}}</p>
                <!-- <button class="{% if not message.is_read and message.recipient_owner_id == current_user.id%}Unread{%endif%}" data-message-id="{{message.id}}">
                </button> -->
                {% if not message.is_read and message.recipient_owner_id == current_user.id%}
                    <span class="unread-indicator">Unread</span>
                {% endif %}
               
            </div>
            {% if loop.index0 == 0  %}
            {% if message.puzzle.is_requested %}
            <button><a href="{{ url_for('send_message', recipient=message.author.username, puzzle_id=message.puzzle.id) }}">Reply</a></button>
            {% endif %}
            {%if current_user.id == message.puzzle.user_id and message.puzzle.is_requested %}
            <button><a href="{{ url_for('request_action', action='approve', requester=message.author.username, puzzle_id=message.puzzle.id) }}">Approve</a></button>
            <button><a href="{{ url_for('request_action', action='decline', requester=message.author.username, puzzle_id=message.puzzle.id) }}">Decline</a></button>
            
            {% endif %}
            {% endif %}
            <button><a href="{{ url_for('confirm_delete', delete_type='message', item_id=message.id) }}">Delete</a></button>    
        {% else %}
            <h2>Select a user to view Messages</h2>
        {% endfor %}
        {% endif %}
</div>

<script>
    // wait for page to load, get all the elements that have 'data-message-id' attribute
    document.addEventListener('DOMContentLoaded', function() {
        const messageElements = document.querySelectorAll('div[data-message-id]');
        messageElements.forEach(function(messageElement) {
       // how to prevent user from sending fetch request every time they click the the message issue
            // if the message already contains the class 'unread' from the boolean logic in the messages.html
            // const messageElement = indicator.closest('div[data-message-id]')
        if (messageElement.classList.contains('unread')) {
            messageElement.addEventListener('click', handleRead);
        }
    });
        
       
             function handleRead(event) {
                const messageElement = event.currentTarget;
                const messageId = this.getAttribute('data-message-id');
                fetch('/message/read/' + messageId, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    // empty body for POST request
                    body: JSON.stringify({})
             
            }).then(function(response) {
                    // returns promise that will be result of response as JSON
                    // response is built-in object that represents HTTP response from server as JS object
                    // allows you to access the response data, headers, status...
                    return response.json();
            }).then(function(data){
                // this function will use the JSON object from the response...
                // from the view function in routes file, if the server has marked the message as read if will be status success
                // otherwise, status will be failure 
                if (data.status === 'success') {
                    console.log('data status come back success')
                    // remove unread from the div class
                    messageElement.classList.remove('unread');
                    var unreadIndicator = messageElement.querySelector('.unread-indicator');
                    // need to check if unread indicator element is present first
                    // otherwise if it's already been read will cause runtime error (cannot read property 'style' of null because there will be no unread indicator)
                    if (unreadIndicator) {
                        unreadIndicator.style.display = 'none'
                    }
                    // from base.html JS that handles the visibility of the unread count next to messages in nav bar
                    // will handle the unread message count - pass in the updated count from the data in the response
                    set_message_count(data.unread_count);
                    messageElement.removeEventListener('click', handleRead);
                
                    } 

                }).catch(function(error) {
                    console.error('Error:', error);
                })
          
            }     
            
        
        
    });
</script>
    
           
            
{% endblock %}
  
 

    
    
    
    
    