{% extends "base.html" %}

{% block content %}
    <table>
        <tr valign="top">
            <td><img src="{{ user.create_avatar(128) }}"></td>
            <td>
                <h1> User: {{ user.username }}</h1>
                {% if user.about_me %}<p>{{ user.about_me}}</p>{% endif %}
                {% if user.last_seen %}<p> Last seen on: {{ user.last_seen }}</p>
                {% endif %}
            </td>
           
            
        </tr>
        {% if user == current_user %}
        <p><button><a href="{{ url_for('edit_profile') }}">Edit Profile</a></button></p>
        <p><button><a href="{{ url_for('create_puzzle') }}">Add Puzzle</a></button></p>
        {% endif %}
    </table>
    
    <hr>
  
    <p>{{puzzles}}</p>
    <p>sharing_count</p>{{sharing_count}} 
    <p>progress_count</p>{{progress_count}}
  
    <div class="content">
        {% if puzzles|length == 0 %}
            <p> No puzzles just yet... </p>
        {% elif sharing_count == 0 %}
            <p> You're not sharing any puzzles right now...</p>
        {% else %}
            
                <h3><b>Sharing</b></h3>
                
                {% for puzzle in puzzles %}
                    {% if puzzle.is_available %}
                    <div class="puzzle">
                        <p>
                            <img src="{{ puzzle.image_url }}" style="width: 200px">
                            
                            
                            <b>{{puzzle.title}}</b>
                            <p>{{puzzle.pieces}}</p>
                            <p>{{puzzle.manufacturer}}</p>
                            
                        </p>
                        <div class="puzzle-desc">
                            <h4>Notes</h4>
                            <p>{{ puzzle.description }}</p>
                        </div>
                        {% if current_user.id == puzzle.user_id %}
                        <button><a href="{{ url_for('confirm_delete', puzzle_id=puzzle.id) }}">Delete</a></button>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endif %}
                
                
                
            </div>
     
    </div>
  
        
    
    <h2>In Progress Puzzles</h2>
    {% if progress_count == 0 %}
    <p> You're not working on any puzzles right now...</p>
    {% else %}
    <h3> In Progress: </h3>
        {%for puzzle in puzzles%}
            {% if puzzle.in_progress %}
    <p>
        <b>{{puzzle.title}}</b>
        <p>{{puzzle.pieces}}</p>
        <p>{{puzzle.manufacturer}}</p>
        <p>{{puzzle.description}}</p>
    </p>
            {% endif %}
        {% endfor %}
    {% endif %}
    

    
    
{%endblock%}
