{% extends "base.html" %}

{% block content %}
<style>
  .btn-add-puzzle {
    color: #5eb1bf;
    border-color: #5eb1bf;
    
  }

  .btn-cancel-complete, .btn-cancel-delete {
    background-color: #5eb1bf;
  }

  .btn-edit-profile {
    color: #e63946;
    border-color: #e63946;
  }


  .btn-submit-edit-profile {
    background-color:#5eb1bf;
  }

  .btn-completed, .btn-confirm-delete {
    background-color: #e63946;
    margin-top: 1rem;
  }

  .carousel-control-prev, .carousel-control-next {
    filter: invert(100%);
  }

  .profile-page {
            display: flex;
            justify-content: space-between; /* Distributes space between carousels */
            padding: 20px;
            gap: 20px; /* Space between carousels */
        }

        .carousel-section {
            flex: 1; /* Each section takes equal width */
            min-width: 300px; /* Minimum width of each section */
            box-sizing: border-box;
            padding: 10px;
        }

     

  

    

      
 


</style>
<!-- Confirm Delete Modal -->
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="confirmDeleteModalLabel">Confirm</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Are you sure you want to delete this puzzle?
        </div>
        <form action="{{ url_for('delete_puzzle')}}" method="POST">
            <input type="hidden" id="deleteType" name="delete_type">
            <input type="hidden" id="itemId" name="item_id">
            <button type="submit" class="btn btn-confirm-delete">Confirm Delete</button>
        </form>
        <div class="modal-footer">
          <button type="button" class="btn btn-cancel-delete" data-bs-dismiss="modal">Close</button>
         
        </div>
      </div>
    </div>
  </div>

  <!-- Confirm Complete Modal -->
<div class="modal fade" id="confirmCompleteModal" tabindex="-1" aria-labelledby="confirmCompleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="confirmCompleteModalLabel">Confirm</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
        Are you sure you are done with this puzzle?
        <form action="{{ url_for('complete_puzzle')}}" method="POST">
          <div>
            <input type="hidden" id="puzzleId" name="puzzle_id">
            <button type="submit" class="btn btn-completed">Completed</button>  
          </div>
            
        </form>
      
      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-cancel-complete" data-bs-dismiss="modal">Close</button>
       
      </div>
    </div>
  </div>
</div>

  <!-- Edit Profile Modal  -->
  <div class="modal fade" id="editProfileModal" tabindex="-1" aria-labelledby="editProfileModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="editProfileModalLabel">Edit Profile</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="{{ url_for('edit_profile')}}" enctype="multipart/form-data" method="POST">
            <div class="mb-3">
                <label for="username" class="form-label">Username</label> 
                <input type="text" class="form-control" id="username" name="username">  
            </div>
            <div class="mb-3">
                <label for="aboutMe" class="form-label">About me</label>
                
                <input type="text" class="form-control" id="aboutMe" name="about_me">
                
            </div>
            <button type="submit" class="btn btn-submit-edit-profile">Submit</button>
        </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-cancel" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

 <!-- profile card -->
 
    <div class="row d-flex justify-content-center">
      <div class="col-12 col-md-9 col-lg-7 col-xl-6">
        <div class="card bg-dark text-light" style="border-radius: 15px;">
          <div class="card-body p-4">
            <div class="d-flex">
              <div class="flex-shrink-0">
                <img src="{{ user.create_avatar(128) }}"
                  alt="user profile avatar" class="img-fluid" style="width: 180px; border-radius: 10px;">
              </div>
              <div class="flex-grow-1 ms-3">
                <h5 class="mb-1">{{ user.username }}</h5>
                <p class="mb-2 pb-1">{% if user.about_me %}<p>{{ user.about_me}}</p>{% endif %}
                {% if user.last_seen %}<p class="timestamp" data-utc-date="{{ user.last_seen.isoformat() }}"></p>{% endif %}
                <div class="d-flex justify-content-between rounded-3 p-2 mb-2 bg-body-tertiary">
                  <div>
                    <p class="small text-muted mb-1">Puzzles Shared</p>
                    <p class="mb-0 text-dark">{{sharing_count}} </p>
                  </div>
                  <div class="px-3">
                    <p class="small text-muted mb-1">In Progress</p>
                    <p class="mb-0 text-dark">{{progress_count}}</p>
                  </div>
                  <div>
                    <p class="small text-muted mb-1">Requested</p>
                    <p class="mb-0 text-dark">{{requested_count}}</p>
                  </div>
                </div>
                <div class="d-flex pt-1">
                  {% if user == current_user %}
                  <button type="button" class="btn btn-edit-profile me-1 flex-grow-1" data-bs-toggle="modal" data-bs-target="#editProfileModal" data-username="{{user.username}}" data-about_me="{%if user.about_me%}{{user.about_me}}{% endif %}">Profile <i class="fa-regular fa-pen-to-square"></i></button>
                  <a class="btn btn-add-puzzle flex-grow-1" href="{{ url_for('save_puzzle') }}">Puzzle <i class="fa-solid fa-plus fa-lg"></i></a>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
 
    <hr>
  <!-- carousels -->
  
    
    <div class="carousel-section sharing-puzzles">
    <h3><b>Sharing</b></h3>
    Available: {{available_puzzles}}
    Sharing_count: {{sharing_count}}
        {% if puzzles|length == 0 %}
            <p> No puzzles just yet... </p>
        {% elif sharing_count == 0 %}
            <p> You're not sharing any puzzles right now...</p>
        {% else %}
  
        <div id="carouselPuzzle" class="carousel carousel-available slide">  
          <div class="carousel-inner">  
            {% for puzzle in available_puzzles %}
            <div class="carousel-item {% if loop.first %}active{% endif %}"> 
              {% include '_puzzle.html'%}
            </div>    
        </div>  
            {% endfor %}
            {% if sharing_count > 1 %}
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselPuzzle" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselPuzzle" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
          {% endif %}
        </div>  
        {% endif %}
      </div>
      
  

    <div class="carousel-section requested-puzzles">
    <h3><b>Requested</b></h3>
    Requested Puzzles: {{requested_puzzles}} Requested count: {{requested_count}}
        {% if requested_count == 0 %}
            <p> You have no puzzles being requested right now...</p>
        {% else %}
  
        <div id="carouselPuzzleRequested" class="carousel carousel-requested slide">  
          <div class="carousel-inner">  
            {% for puzzle in requested_puzzles %}
            <div class="carousel-item {% if loop.first %}active{% endif %}"> 
              {% include '_puzzle.html'%}
            </div>    
        </div>  
            {% endfor %}
            {% if requested_count > 1 %}
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselPuzzleRequested" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselPuzzleRequested" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
          {% endif %}
        </div>  
        {% endif %}
      </div>
  


    <div class="carousel-section in-progress-puzzles">
    <h3><b>In Progress</b></h3>
    InProgress: {{in_progress_puzzles}} In Progress Count: {{progress_count}}
        {% if progress_count == 0 %}
            <p> You're not working on any puzzles right now...</p>
        {% else %}
  
        <div id="carouselPuzzleInProgress" class="carousel carousel-in-progress slide">  
          <div class="carousel-inner">  
            {% for puzzle in in_progress_puzzles %}
            <div class="carousel-item {% if loop.first %}active{% endif %}"> 
              {% include '_puzzle.html'%}
            </div>    
          </div>  
            {% endfor %}
            {% if progress_count > 1 %}
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselPuzzleInProgress" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselPuzzleInProgress" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
          {% endif %}
        </div>  
        {% endif %}
      </div>
     
<script>

    // date-time
    document.addEventListener('DOMContentLoaded', function() {
      const confirmDeleteModal = document.getElementById('confirmDeleteModal');
      const editProfileModal = document.getElementById('editProfileModal')

      if (confirmDeleteModal) {
      confirmDeleteModal.addEventListener('show.bs.modal', function(event) {
        // button that triggers modal
        const button = event.relatedTarget
        const deleteType = button.getAttribute('data-delete-type')
        console.log(deleteType)
        const itemId = button.getAttribute('data-item-id')
        console.log(itemId)


      // assign the value to the hidden inputs in the modal whatever the values are from the attributes above
      document.getElementById('deleteType').value = deleteType
      document.getElementById('itemId').value = itemId

      })
    
   
    }  
    
    if (editProfileModal) {
      editProfileModal.addEventListener('show.bs.modal', function(event) {
        const button = event.relatedTarget
        const username = button.getAttribute('data-username')
        console.log(username)
        const aboutMe = button.getAttribute('data-about_me')
        console.log(aboutMe)

      document.getElementById('username').value = username
      document.getElementById('aboutMe').value = aboutMe
      })
    }

    const confirmCompleteModal = document.getElementById('confirmCompleteModal')
    if (confirmCompleteModal) {
      confirmCompleteModal.addEventListener('show.bs.modal', function(event) {
        const button = event.relatedTarget
        const puzzleId = button.getAttribute('data-puzzle-id')
        console.log(puzzleId)

      document.getElementById('puzzleId').value = puzzleId
      })
    }
      
  })
     
</script>
    
    
{%endblock%}
